.submit-signup {
  padding: 10px;
  margin: 10px;
  color: #185c90;
  font-weight: 650;
  background-color: #f2fbef;
  border: 1px line;
  border-color: #ffd966;
  border-radius: 13px;
  cursor: pointer;
}