.handleAdd {
  background-color: #f2fbef;
  border-color: #ffd966;
  color: #4C5E47;
  border-radius: 5px;
  border-width: 2px;
}

.handleRemove {
  background-color: #eaf6e7;
  border-color: #4C5E47;
  border-radius: 7px;
}